<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="position: relative; display: inline-block;">
        <a href="http://127.0.0.1:5500/templates/anasayfa.html" target="" style="text-decoration: none;">
            <img src="Mount.jpg" alt="" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; object-fit: cover; opacity: 0.5;">
            
            <h2 style="font-style: italic; display: inline; position: relative; z-index: 1; color: black;">Pint</h2>
            <h3 style="font-style: italic; display: inline; color: red; position: relative; z-index: 1;">Everest</h3>
        </a>
    </div>
    
    
    
</body>
</html>