{% extends "base.html" %}

{% block title %}Kayıt Ol{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Kayıt Ol</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Kullanıcı Adı</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Şifre</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Kayıt Ol</button>
    </form>
</div>
{% endblock %}
