<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Ürün Ekle</title>
</head>
<body>
    <h1>Ürün Ekle</h1>

    <form action="{{ url_for('urun_ekle') }}" method="post" enctype="multipart/form-data">
        <label>Ürün Adı:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Fiyat:</label><br>
        <input type="number" name="price" step="0.01" required><br><br>

        <label>Kategori Seç:</label><br>
        <select name="category" required>
            <option value="Doğa">Doğa</option>
            <option value="Karakalem">Karakalem</option>
            <option value="Sulu Boya">Sulu Boya</option>
            <option value="Hayvan">Hayvan</option>
        </select><br><br>

        <label>Fotoğraf Yükle:</label><br>
        <input type="file" name="image" accept="image/*"><br><br>

        <button type="submit">Ürün Ekle</button>
    </form>

    <br>
    <a href="{{ url_for('profile') }}">Profilime Dön</a>
</body>
</html>
